* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: #333;
}
/* section */
section {
  padding: 120px 80px;
}

/* scroll bar */
/* 전체 */
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
/* 모달 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #bfd6ff;
  border-radius: 10px;
}